#{extends 'main.html' /}
#{set title:'Добавить' /}
#{set 'moreStyles'}
 <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/addCode.css'}">
#{/set}

#{form @Review.saveCode(user.id) }
<h4>Добавить код</h4>
<div class="input-group">
    <input type="text" name="notice" class="form-control" placeholder="Примечание" aria-describedby="basic-addon1">
    <textarea type="text" name="code" class="form-control" placeholder="Код программы" id="codeInput"aria-describedby="basic-addon2">
    </textarea>
    <button class="btn btn-default" id="addBtn">Добавить</button>
</div>
#{/form }