#{extends 'main.html' /}
#{set title:'Code' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/code.css'}">
#{/set}
#{set 'moreJS' }
<script type="text/javascript" src="@{'/public/javascripts/code.js'}"></script>
#{/set }

    #{form @Review.update(code.id) }
    <div class="input-group">
        <label for="notice">Примечание:</label>
        <input id="notice" name="notice" type="text" class="form-control" value="${code.notice}" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
        <label for="code_text">Код:</label>
        <textarea type="text" name="code" id="code_text" class="form-control" placeholder="Код программы" id="codeInput" aria-describedby="basic-addon2">${code.code}
        </textarea>
    </div>
    <p>Добавлено: ${code.addDate.toString().substring(0, 19)}</p>
    <p>Обновлено: ${code.updateDate.toString().substring(0, 19)}</p>
    #{if code.accepted }
    <p>Принято: ${code.acceptDate.toString().substring(0, 19)}</p>
    #{/if }
    #{if code.user.id == user.id }
    <button class="btn btn-default">Обновить</button>
    #{/if}
    <h4>Проблемы</h4>
    <ul class="list-group">
    %{
        for(problem in code.problems) {
            if (problem.soluted) {
    }%
        <li class="list-group-item list-group-item-success">
            <p>${problem.problem}</p>
        </li>
    %{
        }
        else {
    }%
        <li class="list-group-item list-group-item-danger">${problem.problem}
            #{checkReviwer user}
                <input type="checkbox" value="принять" id="check${problem.id}" onchange="boxchecked(this, ${problem.id})">
            #{/checkReviwer}
        </li>
    %{
            }
        }
    }%
    </ul>
    #{/form }
    #{checkReviwer user}
    #{form @Review.saveProblem(code.id) }
    <div class="input-group">
    <textarea type="text" name="problem" class="form-control" placeholder="Описаниие"
              id="code_input" aria-describedby="basic-addon2">

    </textarea>
        <button class="btn btn-default" id="addBtn">Добавить проблему</button>
    </div>
    #{/form }
    <button class="btn btn-default" onclick="location.href='/review/accept/${code.id}/${user.id}'">Принять</button>
    #{/checkReviwer}