#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
#{/set}
#{set 'moreJS' }
<script type="text/javascript" src="@{'/public/javascripts/index.js'}"></script>
#{/set }

<h4 id="added">Добавления</h4>

<div class="list-group">
    %{
        for(rvc in codeReviews) {
            if (rvc.accepted) {
    }%
        <a href="/code/${rvc.id}" class="list-group-item list-group-item-success">
            <p><b>${rvc.notice}</b></p>
            <small>Принято: ${rvc.acceptDate.toString().substring(0, 19)}</small>
        </a>
    %{
            } else {
    }%
        <a href="/code/${rvc.id}" class="list-group-item">
            <p><b>${rvc.notice}</b></p>
            <small>Обновлено: ${rvc.updateDate.toString().substring(0, 19)}</small>
        </a>
    %{
            }
        }
    }%
</div>
<button class="btn btn-default" id="btn_add_code" onclick="location.href='@{Review.addCode()}'">Добавить код</button>
